.button {
  border-color: none;
  color: var(--text);
  background-color: var(--elements);
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px #181818;
  min-width: 100px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: 5px;
}
.button:hover {
  box-shadow: 0 0 10px #c54f4f;
}
.button-text {
  font-family: "Nunito Sans";
  font-size: 14px;
}

@media only screen and (max-width: 750px) {
  .button {
    margin: 20px;
    border-radius: 5px;
  }
}
