.switch {
  font-size: 12px;
  font-family: "Nunito Sans";
  font-weight: 600;
  color: var(--text);
  background-color: var(--elements);
  transition: all 0.5s;
  margin-right: 50px;
  margin-top: 20px;
}
.icon {
  margin-right: 10px;
}
.wrapper {
  background-color: var(--background);
  transition: all 0.5s;
}
@media only screen and (min-width: 750px) {
  .switch {
    font-size: 14px;
  }
}
