.button {
  font-size: 14px;
  font-family: "Nunito Sans";
  font-weight: 600;
  color: var(--text);
  background-color: var(--background);
  transition: all 0.5s;
}
.wrapper {
  background-color: var(--background);
  transition: all 0.5s;
}
