.header-wrapper {
  background-color: var(--elements);
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  display: flex;
  transition: all 0.5s;
}

.title {
  font-size: 16px;
  font-family: "Nunito Sans";
  font-weight: 800;
  margin-top: 10px;
  margin-left: 50px;
  color: var(--text);
  background-color: var(--elements);
  transition: all 0.5s;
}
