.country-detail-wrapper {
  margin-top: 50px;
  width: 90vw;
  margin-left: 5vw;
  justify-content: "space-between";
  align-items: "center";
}
.country-content-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.back-button-wrapper {
  width: 120px;
  margin-bottom: 50px;
}

.flag-country-detail {
  min-width: 500px;
}

.button-icon-country-detail {
  font-size: 14px;
  padding-right: 10px;
}

.border-container {
  background-color: var(--elements);
  margin: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 5px #181818;
  border-radius: 5px;
}
.border-text {
  font-family: "Nunito Sans";
  font-size: 12px;
}
.border-container:hover {
  box-shadow: 0 0 10px #c54f4f;
}
@media only screen and (max-width: 750px) {
  .flag-country-detail {
    min-width: 200px;
  }
  .country-detail-wrapper {
    margin-top: 50px;
    width: 80vw;
  }
  .country-content-wrapper {
    display: flex;
    flex-direction: column;
  }
  .button-country-detail {
    width: 100px;
    margin: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
  }
}
